[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap5 = "*"
djangorestframework = "*"
channels = "*"
jsonschema = "*"
markupsafe = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.14"
