{% extends 'common/base.html' %}
{% load i18n %}
{% block title %}{% trans "Action on Friends : allow/deny" %}{% endblock %}

{% block content %}
<h2>{% trans "Received Friend Requests" %}</h2>
{% for req in requests %}
    <div class="card border-primary">
        <tr>
            {% blocktrans with username=req.from_user.username %}<strong>{{ username }}</strong> sent you a friend request!{% endblocktrans %}
        </tr>
        <tr>
            <th><a href="{% url 'accept_request' req.id %}">{% trans "Accept" %}</a> </th>
            <th><a href="{% url 'reject_request' req.id %}">{% trans "Reject" %}</a> </th>
        </tr>
    </div>
{% empty %}
    <p>{% trans "No new friend requests." %}</p>
{% endfor %}
{% endblock %}
